.logo-webs {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: $main-blue-color;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-studio {
  color: #000000;
}

.border {
  border-bottom: 1px solid #ececec;
}

.logo-studio-footer {
  color: $main-font-color;
}
.logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  color: $main-blue-color;
  margin-bottom: 20px;
}